{% extends "base.html" %}
{% block title %}Airbnb Listings{% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Policy</title>
    </head>
<body>
    <h1>Policies</h1>
    <!-- {{map | safe}}  -->
    <iframe src="policy4_df0_funct_map.html" title="map for policy4 test" referrerpolicy="no-referrer"></iframe>
</body>
</html>

{% endblock %}



<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}